<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 通过别名简化对类的使用  -->
	<typeAliases>
			<!-- <typeAlias type="leifeng.scm.entity.Dept" alias="Dept" /> -->
			
			<package name="leifeng.scm.entity"/>
	</typeAliases>

	<!-- <mappers>
		<mapper resource="leifeng/scm/entity/DeptMapper.xml" />
	</mappers> -->
		
</configuration>
